@model BackEndCapstone.Models.Tutorial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tutorial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <video width="320" height="240" controls autoplay="autoplay">

            <source src="@Url.Content("~/videos/" + Model.VideoPath)" type="video/mp4">
        </video>


        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class=" col-sm-2">Reviews</dt>
        <dd class="col-sm-10">
            <div>
                @foreach (var tutorial in Model.TutorialReviews)
                {
                    <li>@Html.DisplayFor(modelItem => tutorial.Comment)</li>
                }
            </div>
        </dd>

        <dt class="order-sm-10">
            <form asp-action="Index" asp-controller="TutorialsReview" asp-route-breweryId="@Model.Id">
                <button>View Comments</button>
            </form>
        </dt>


    </dl>
</div>

@*<div>

        <h4>Comments</h4>

        <dl class="row">
            @foreach (var item in Model.TutorialReviews)
            {

                @Html.DisplayFor(modelItem => item.TutorialReview)
                <br />
                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Comments">Details</a>

            }
            </d1>
    </div>*@
<a asp-action="Create" asp-route-id="@Model.Id" asp-controller="TutorialsReview">Leave A Comment!</a> |
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
