@model BackEndCapstone.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <img class="img-responsive" src="@Url.Content("~/images/" + Model.ImagePath)" alt="" />
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UserId)
            </dd>*@

        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductType.Category)
            </dd>*@
    </dl>
    <dt class="col-sm-2">
        Genres
    </dt>
    <dd class="col-sm-10">
        @foreach (var item in Model.ProductGemstones)
        {
            <div>
                @Html.DisplayFor(modelItem => item.Gemstone.Title) &nbsp;
            </div>
        }
    </dd>
    

    <h4>Reviews</h4>
    <hr />
    <dl class="row">


        @foreach (var product in Model.ProductReviews)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => product.User.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => product.User.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => product.Comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => product.Comment)
            </dd>

        }

    </dl>

</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

    <a asp-controller="ProductReviews" asp-action="Create" asp-route-id="@Model.Id">Add Comment</a>
    <a asp-action="Index">Back to List</a>
</div>
