@model BackEndCapstone.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <img class="img-responsive" src="@Url.Content("~/images/" + Model.ImagePath)" alt="" />
        <dt class="col-sm-2">
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>*@

        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.Category)
        </dd>*@

    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |

    <a asp-action="Index">Back to List</a>
</div>
