@model BackEndCapstone.Models.Gemstone

@{
    ViewData["Title"] = "Details";
}

<h1>Gemstone Details:</h1>

<div>
 
    <hr />
    <dl class="row">

        <dt class="col-sm-4">
            @Html.DisplayFor(model => model.Title)
        </dt>
        <img class="img-responsive" src="@Url.Content("~/images/" + Model.ImagePath)" alt="" />

 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

    <a asp-action="Index">Back to List</a>
</div>
