@using Microsoft.AspNetCore.Identity
@model IEnumerable<BackEndCapstone.Models.Gemstone>


@inject UserManager<ApplicationUser> UserManager

@{ var user = await UserManager.GetUserAsync(User);}
@{
    ViewData["Title"] = "Index";
}


<div>
    <div style="text-align: center">
        <img align="center" src="~/images//gemstones2.png" alt="books" style="max-height: 300px; min-height: 175px; max-width:1300px; min-width:1100px;">  &nbsp;
    </div>

</div>
<hr />
<h1>Gemstones</h1>
@if (user.Email == "admin@admin.com")
{
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
}

<hr />


<div class="productContainer">
    <div class="row justify-content-between">
        @foreach (var item in Model)
        {
            <div class="card productCard" style="width: 15rem; margin-bottom: 3rem; margin-left: 1.5rem;">
                <img style="max-height: 200px; min-height: 90px;" class="img-responsive" src="@Url.Content("~/images/" + item.ImagePath)" alt="" />
                <div class="card-body">
                    <h7 class="card-title">@item.Title</h7>
                    <hr />
                    <a asp-action="Details" class="btn btn-outline-danger btn-xxs " asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        }
    </div>
</div>




@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
        
                    <img style="max-height: 100px; min-height: 90px;" class="img-responsive" src="@Url.Content("~/images/" + item.ImagePath)" alt="" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>*@
@*@Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>*@
@*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@

@*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
@*</td>
                </tr>
            }
        </tbody>
    </table>*@
